Source: snetz
Section: net
Priority: optional
Maintainer: Gustavo Paniagua dos Santos <cappaniagua@gabcm.eb.mil.br>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://sourceforge.net/projects/snetz/?source=directory
#Vcs-Git: git://git.debian.org/collab-maint/snetz.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/snetz.git;a=summary

Package: snetz
Architecture: all
Depends: ${misc:Depends}
Description: simple live network bandwidth monitoring tool
 Snetz is a small and simple live network bandwidth monitoring tool.
 .
 This tool get some values from the pseudo-file "/proc/net/dev" and
 and generate a report on the standard output.




